# Ignore the build, lib and doc dirs
build
build_hlbfgs
lib/*
doc

# Ignore the Xcode stuff
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/


# Ignore any executables
bin/*

# Ignore data files
*.dat

# Ignore Mac specific files
.DS_Store

# Ignore emacs files
*~

# Appcode shit
.idea/*
